language: php

php:
  - 7.3

branches:
  only:
    - master
    - dev
    - /^\d.\d+$/

cache:
  directories:
    - $HOME/.composer/cache/files

env:
  matrix:
    - TARGET="phpspec"
    - TARGET="codestyle"

before_script:
  - COMPOSER_MEMORY_LIMIT=-1 composer install

script:
  - if [ "$TARGET" == "phpspec" ] ; then ./vendor/bin/phpspec run --format=pretty; fi
  - if [ "$TARGET" == "codestyle" ] ; then ./vendor/bin/php-cs-fixer fix --dry-run -v --show-progress=estimating; fi

notification:
  email: false
